*,*::before,*::after{
    box-sizing: border-box;
}

body {
    font-family: 'Roboto','Noto Sans TC', sans-serif;
    line-height: 1.5;
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a{
    color: white;
    text-decoration: none;
    &:hover{
        opacity: 0.8;
    }
}