@mixin breakpoints($bp_parameter) {
  @each $key, $value in $breakpoints {
    @if ($key == $bp_parameter) {
      @media (max-width: $value) {
        @content;
      }
    }
    @else{
      @media (max-width: $bp_parameter) {
        @content;
      }
    }
  }
}

@mixin hide-text{
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}