<footer class="bg-primary">
  <div class="container">
    <div class="d-flex flex-wrap justify-content-between pt-48 pt-sm-24 pb-32 pb-sm-24 border-bottom">
      <ul class="d-flex g-3 align-items-center d-sm-none">
        <li><a href="#">首頁</a></li>
        <li><a href="#">系列鏡框</a></li>
        <li><a href="#">門市據點</a></li>
        <li><a href="#">部落格</a></li>
        <li><a href="#">常見問題</a></li>
      </ul>
      <ul class="connection">
        <li class="d-flex align-items-center">
          <span class="material-symbols-outlined text-white fs-36 fs-sm-18">
            call
          </span>
          <a href="#" class="ms-20 ms-sm-10 fs-36 fs-sm-16">0800-000-000</a>
        </li>
        <li class="d-flex align-items-center">
          <span class="material-symbols-outlined text-white fs-36 fs-sm-18">
            mail
          </span>
          <a href="#" class="ms-20 ms-sm-10 fs-36 fs-sm-16">glasses@business.com</a>
        </li>
      </ul>
      <ul class="d-flex socialIcon-list g-2">
        <li>
          <a href="#"
            ><img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic-social-fb.png?raw=true"
              alt=""
          /></a>
        </li>

        <li>
          <a href="#"
            ><img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_ig.png?raw=true"
              alt=""
          /></a>
        </li>

        <li>
          <a href="#"
            ><img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_line.png?raw=true"
              alt=""
          /></a>
        </li>
      </ul>
    </div>
    <div class="d-flex justify-content-between justify-content-sm-start  flex-sm-column py-32 pt-sm-16 pb-sm-24 flex-wrap">
      <p class="text-white">Copyright © 2020 Glasses.All rights reserved.</p>
      <ul class="d-flex flex-sm-column g-3 g-sm-0">
        <li><a href="#" class="fs-14 fs-sm-16">隱私權政策</a></li>
        <li><a href="#" class="fs-14 fs-sm-16">服務條款</a></li>
      </ul>
    </div>
  </div>
</footer>
