<header class="bg-primary">
  <div class="container d-flex justify-content-between py-16">
    <a href="#" class="logo">眼鏡官網</a>
    <ul class="d-flex align-items-center g-4 d-md-none">
      <li><a href="#" class="fs-20">系列鏡框</a></li>
      <li><a href="#" class="fs-20">門市據點</a></li>
      <li><a href="#" class="fs-20">部落格</a></li>
      <li><a href="question.html" class="fs-20">常見問題</a></li>
    </ul>
  </div>
</header>
<ul class="mobile-bar bg-primary d-md-flex align-items-center g-4 g-md-0 d-none flex-wrap">
    <li><a href="#">系列鏡框</a></li>
    <li><a href="#">門市據點</a></li>
    <li><a href="#">部落格</a></li>
    <li><a href="#">常見問題</a></li>
</ul>