.socialIcon-list {
  img {
    width: 48px;
    height: 48px;
    @include breakpoints(md) {
      width: 40px;
      height: 40px;
    }
    @include breakpoints(sm) {
      width: 24px;
      height: 24px;
    }
  }
}
.connection{
  width: 100%;
  order: 3;
  @include breakpoints(sm) {
    order: -1;
    width: auto;
  }
}